<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brazil_shot/brazil_shot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-24.5}</string>
                <key>spriteSize</key>
                <string>{102,190}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,0},{102,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-24.5}</string>
                <key>spriteSize</key>
                <string>{102,190}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{102,0},{102,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-23.5}</string>
                <key>spriteSize</key>
                <string>{105,192}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{204,0},{105,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{128,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{309,0},{128,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{128,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{437,0},{128,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{128,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{565,0},{128,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{128,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{693,0},{128,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{128,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{821,0},{128,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{128,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{949,0},{128,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{128,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1077,0},{128,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14.5,-22}</string>
                <key>spriteSize</key>
                <string>{131,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1205,0},{131,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-22}</string>
                <key>spriteSize</key>
                <string>{130,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1336,0},{130,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-22}</string>
                <key>spriteSize</key>
                <string>{130,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1466,0},{130,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-22}</string>
                <key>spriteSize</key>
                <string>{128,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1596,0},{128,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6.5,-23}</string>
                <key>spriteSize</key>
                <string>{113,193}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1724,0},{113,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21.5}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1837,0},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21.5}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,190},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21.5}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{128,192},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21.5}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{256,193},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21.5}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{384,193},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21.5}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{512,193},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21.5}</string>
                <key>spriteSize</key>
                <string>{128,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{640,193},{128,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-21.5}</string>
                <key>spriteSize</key>
                <string>{115,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{768,193},{115,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-21.5}</string>
                <key>spriteSize</key>
                <string>{115,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{883,193},{115,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-21.5}</string>
                <key>spriteSize</key>
                <string>{115,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{998,193},{115,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-21.5}</string>
                <key>spriteSize</key>
                <string>{130,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1113,193},{130,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12.5,-21.5}</string>
                <key>spriteSize</key>
                <string>{135,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1243,193},{135,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21.5}</string>
                <key>spriteSize</key>
                <string>{112,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1378,193},{112,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{128,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1490,193},{128,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{128,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1618,193},{128,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{128,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1746,194},{128,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{128,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1874,194},{128,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{128,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,384},{128,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21}</string>
                <key>spriteSize</key>
                <string>{128,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{128,386},{128,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-21}</string>
                <key>spriteSize</key>
                <string>{115,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{256,387},{115,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-21}</string>
                <key>spriteSize</key>
                <string>{115,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{371,387},{115,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-21}</string>
                <key>spriteSize</key>
                <string>{115,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{486,387},{115,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-21}</string>
                <key>spriteSize</key>
                <string>{115,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{601,387},{115,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-21}</string>
                <key>spriteSize</key>
                <string>{115,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{716,387},{115,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5.5,-21}</string>
                <key>spriteSize</key>
                <string>{115,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{831,387},{115,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1.5,-21}</string>
                <key>spriteSize</key>
                <string>{113,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{946,387},{113,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{114,195}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1059,387},{114,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-21.5}</string>
                <key>spriteSize</key>
                <string>{128,196}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1173,387},{128,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-20.5}</string>
                <key>spriteSize</key>
                <string>{128,196}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1301,387},{128,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-20.5}</string>
                <key>spriteSize</key>
                <string>{128,196}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1429,388},{128,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-20.5}</string>
                <key>spriteSize</key>
                <string>{128,196}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1557,388},{128,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_idle/brazil_idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-20.5}</string>
                <key>spriteSize</key>
                <string>{128,196}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1685,389},{128,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brazil_shot/brazil_shot_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,239}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1813,389},{160,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>brazil.png</string>
            <key>size</key>
            <string>{2002,628}</string>
            <key>textureFileName</key>
            <string>brazil.png</string>
        </dict>
    </dict>
</plist>
