<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>canada_shot/canada_shot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-9}</string>
                <key>spriteSize</key>
                <string>{118,221}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8.5}</string>
                <key>spriteSize</key>
                <string>{118,222}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{118,0},{118,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{122,223}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{236,0},{122,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7.5,-6}</string>
                <key>spriteSize</key>
                <string>{125,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{358,0},{125,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5.5,-7}</string>
                <key>spriteSize</key>
                <string>{123,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{483,0},{123,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{125,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{606,0},{125,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{731,0},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{134,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{861,0},{134,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{134,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{995,0},{134,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{134,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1129,0},{134,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{134,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1263,0},{134,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{134,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1397,0},{134,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{130,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1531,0},{130,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4.5}</string>
                <key>spriteSize</key>
                <string>{134,228}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1661,0},{134,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4.5}</string>
                <key>spriteSize</key>
                <string>{134,228}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1795,0},{134,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4.5}</string>
                <key>spriteSize</key>
                <string>{134,228}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,222},{134,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-4.5}</string>
                <key>spriteSize</key>
                <string>{134,228}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{134,223},{134,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1.5}</string>
                <key>spriteSize</key>
                <string>{136,234}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{268,225},{136,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1.5}</string>
                <key>spriteSize</key>
                <string>{136,234}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{404,225},{136,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1.5}</string>
                <key>spriteSize</key>
                <string>{136,234}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{540,226},{136,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1.5}</string>
                <key>spriteSize</key>
                <string>{134,234}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{676,226},{134,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{135,234}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{810,227},{135,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1.5}</string>
                <key>spriteSize</key>
                <string>{130,234}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{945,227},{130,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1.5}</string>
                <key>spriteSize</key>
                <string>{130,234}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1075,227},{130,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1205,227},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1341,227},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1477,227},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1613,228},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1749,228},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1885,228},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,451},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{136,459},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{272,459},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{408,460},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{544,460},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{680,461},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1}</string>
                <key>spriteSize</key>
                <string>{136,235}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{816,461},{136,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-1.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{952,461},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-0.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1088,462},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-0.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1224,462},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-0.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1360,462},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-0.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1496,463},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-0.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1632,463},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-0.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1768,463},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-0.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1904,463},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-0.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,686},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_idle/canada_idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-0.5}</string>
                <key>spriteSize</key>
                <string>{136,236}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{136,694},{136,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canada_shot/canada_shot_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,239}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{272,695},{160,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>canada.png</string>
            <key>size</key>
            <string>{2040,934}</string>
            <key>textureFileName</key>
            <string>canada.png</string>
        </dict>
    </dict>
</plist>
