<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iraq_shot/iraq_shot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11.5}</string>
                <key>spriteSize</key>
                <string>{118,216}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,0},{118,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-11.5}</string>
                <key>spriteSize</key>
                <string>{118,216}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{118,0},{118,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10.5}</string>
                <key>spriteSize</key>
                <string>{122,218}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{236,0},{122,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8.5}</string>
                <key>spriteSize</key>
                <string>{124,220}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{358,0},{124,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9.5}</string>
                <key>spriteSize</key>
                <string>{124,220}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{482,0},{124,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-8}</string>
                <key>spriteSize</key>
                <string>{133,221}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{606,0},{133,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-8}</string>
                <key>spriteSize</key>
                <string>{133,221}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{739,0},{133,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11.5,-8}</string>
                <key>spriteSize</key>
                <string>{125,221}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{872,0},{125,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{130,221}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{997,0},{130,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{133,222}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1127,0},{133,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{133,222}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1260,0},{133,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{133,222}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1393,0},{133,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{133,222}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1526,0},{133,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7.5}</string>
                <key>spriteSize</key>
                <string>{130,222}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1659,0},{130,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-7}</string>
                <key>spriteSize</key>
                <string>{133,223}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1789,0},{133,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-7}</string>
                <key>spriteSize</key>
                <string>{133,223}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,216},{133,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4.5,-7}</string>
                <key>spriteSize</key>
                <string>{133,223}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{133,218},{133,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-6.5}</string>
                <key>spriteSize</key>
                <string>{128,224}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{266,220},{128,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{130,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{394,220},{130,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{130,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{524,221},{130,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{130,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{654,221},{130,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{130,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{784,221},{130,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{130,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{914,221},{130,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{130,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1044,222},{130,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{130,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1174,222},{130,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{130,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1304,222},{130,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12.5,-6}</string>
                <key>spriteSize</key>
                <string>{129,225}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1434,222},{129,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1563,222},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1693,223},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1823,223},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,439},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{130,441},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{260,444},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{390,445},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{129,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{520,446},{129,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{129,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{649,446},{129,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{778,446},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{131,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{908,446},{131,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{135,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1039,447},{135,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1174,447},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5.5}</string>
                <key>spriteSize</key>
                <string>{130,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1304,447},{130,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12.5,-5.5}</string>
                <key>spriteSize</key>
                <string>{129,226}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1434,447},{129,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{130,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1563,448},{130,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{130,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1693,449},{130,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{130,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{1823,449},{130,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{130,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{0,665},{130,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_idle/iraq_idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-5}</string>
                <key>spriteSize</key>
                <string>{130,227}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{130,667},{130,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iraq_shot/iraq_shot_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,239}</string>
                <key>spriteSourceSize</key>
                <string>{160,239}</string>
                <key>textureRect</key>
                <string>{{260,671},{160,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>iraq.png</string>
            <key>size</key>
            <string>{1953,910}</string>
            <key>textureFileName</key>
            <string>iraq.png</string>
        </dict>
    </dict>
</plist>
