<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall_jump/wall_jump_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-13}</string>
                <key>spriteSize</key>
                <string>{92,151}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{0,0},{92,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-12}</string>
                <key>spriteSize</key>
                <string>{92,153}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{92,0},{92,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-11}</string>
                <key>spriteSize</key>
                <string>{92,155}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{184,0},{92,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-11}</string>
                <key>spriteSize</key>
                <string>{92,155}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{276,0},{92,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-10.5}</string>
                <key>spriteSize</key>
                <string>{92,156}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{368,0},{92,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-10.5}</string>
                <key>spriteSize</key>
                <string>{92,156}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{460,0},{92,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-9.5}</string>
                <key>spriteSize</key>
                <string>{92,158}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{552,0},{92,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-9.5}</string>
                <key>spriteSize</key>
                <string>{92,158}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{644,0},{92,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-9.5}</string>
                <key>spriteSize</key>
                <string>{92,158}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{736,0},{92,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-9}</string>
                <key>spriteSize</key>
                <string>{92,159}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{828,0},{92,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8.5}</string>
                <key>spriteSize</key>
                <string>{92,160}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{920,0},{92,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1012,0},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1104,0},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1196,0},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1288,0},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1380,0},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1472,0},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1564,0},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1656,0},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-8}</string>
                <key>spriteSize</key>
                <string>{92,161}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1748,0},{92,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1840,0},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1932,0},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{0,151},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{92,153},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{184,155},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7.5}</string>
                <key>spriteSize</key>
                <string>{92,162}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{276,155},{92,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7}</string>
                <key>spriteSize</key>
                <string>{92,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{368,156},{92,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7}</string>
                <key>spriteSize</key>
                <string>{92,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{460,156},{92,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7}</string>
                <key>spriteSize</key>
                <string>{92,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{552,158},{92,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7}</string>
                <key>spriteSize</key>
                <string>{92,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{644,158},{92,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7}</string>
                <key>spriteSize</key>
                <string>{92,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{736,158},{92,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-7}</string>
                <key>spriteSize</key>
                <string>{92,163}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{828,159},{92,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6.5}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{920,160},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6.5}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1012,161},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6.5}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1104,161},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6.5}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1196,161},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6.5}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1288,161},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_idle/wall_idle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6.5}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1380,161},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6.5}</string>
                <key>spriteSize</key>
                <string>{92,164}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1472,161},{92,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-6}</string>
                <key>spriteSize</key>
                <string>{92,165}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1564,161},{92,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{92,168}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1656,161},{92,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,0}</string>
                <key>spriteSize</key>
                <string>{92,169}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1748,161},{92,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-4}</string>
                <key>spriteSize</key>
                <string>{92,169}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1840,162},{92,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-4}</string>
                <key>spriteSize</key>
                <string>{92,169}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{1932,162},{92,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,4.5}</string>
                <key>spriteSize</key>
                <string>{92,170}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{0,313},{92,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-3}</string>
                <key>spriteSize</key>
                <string>{92,171}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{92,315},{92,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{92,172}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{184,317},{92,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall_jump/wall_jump_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1.5,-2}</string>
                <key>spriteSize</key>
                <string>{92,173}</string>
                <key>spriteSourceSize</key>
                <string>{119,179}</string>
                <key>textureRect</key>
                <string>{{276,317},{92,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wall.png</string>
            <key>size</key>
            <string>{2024,490}</string>
            <key>textureFileName</key>
            <string>wall.png</string>
        </dict>
    </dict>
</plist>
